{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<header>
    <div class="topo-left">
        <img src="{% static 'css/img/logo.png' %}" alt="">
        <h1>Carteira do Estudante Digital</h1>
    </div>
    <div class="topo-right">
        <a href="{% url 'home' %}">Início</a>
        <a href="{% url 'historico' %}">Histórico</a>
    </div>
</header>
<body>
    <div class="conteiner-all">
        <div class="conteiner">
            <div class="title">Cadastro do aluno</div>
            <img src="{% static 'css/img/perfil.jpg' %}" alt="">
            <ul>
                <li>Nome: Vinicios Dotto</li>
                <li>Data de nascimento: 20/12/2002</li>
                <li>E-mail: Vinidotto02@gmail.com</li>
                <li>Numero Matricula: 132345</li>
            </ul>
            </div>
        </div>
    </div>

</body>
</html>